body {
    font-family: 'Gilroy', arial, serif;
    display: flex;
    justify-content: center;
    background-color: #0D0C10;
    color: white;
}

.container {
    max-width: 1920px;
    padding: 80px 50px 100px;
}

img {
    width: 500px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

a {
    color: white;
    cursor: pointer;
}

table {
    border: 2px solid white;
}

table {border-collapse: collapse;}
td, th { padding: 10px; border: 1px solid white; }
tr:not(:first-child):not(:last-child) td,
tr td:not(:first-child):not(:last-child),
tr:first-child td:not(:first-child):not(:last-child),
tr:last-child td:not(:first-child):not(:last-child) {
    border-color: white;
}

table  { border-collapse: collapse; frame: void; rules: all; }
td, th { border: 1px solid white; }

th {
    font-size: 25px;
}
td {
    font-size: 20px;
}